:root{
    --primary-text:#FFFFFF;
    --secondary-text:#AFB0B6;
    --text-grey:#797C86;
    --purple-text-light:#D6D0FB;
    --purple-md:#AEA1F7;
    --primary-purple:#4A2CED;
    --luxury-mango:#FFCE22;
    --dark-12: #1C1C21;
    --dark-03:#070708;
    --dark-20:#2F2F37;
}