%paragraph {
  color: #62646c;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 4px;
}

%sub-paragraph {
  color: #afb0b6;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

%paragraph-heading {
  color: #e4e4e6;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

%paragraph-heading-second {
  color: #cacace;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

%title {
  color: #e4e4e6;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

%sub-title {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

%button-text {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
